.popup {
  display: none;
  position: fixed;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  background-color: #ffa4a1;
  width: 50vw;
  height: 80vh;
  margin: 100px auto;
  /* padding: 20px; */
  border: white 2px solid;
  overflow-y: auto;
}

.about-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #50adff;
  color: white;
  padding: 30px;
  height: 6em;
}

.project {
  background-color: #ffb965;
  padding: 20px;
  margin: 20px
}

.experience {
  background-color: #ff87c8;
  padding: 20px;
  margin: 20px
}

.contact-item {
  display: flex;
  align-items: center;
  background: #7cf8fa;
  padding: 30px;
  padding-left: 10%;
  padding-right: 10%;
  margin: 20px
}

.contact-item a {
  text-decoration: none;
  display: flex; 
  color: inherit;
  align-items: center;
}

.contact-item a:hover {
  color: #fff290;
}

.contact-item i {
  margin-right: 10px; /* Add some horizontal spacing between icon and text */
}

.contact-item h3 {
  margin: 0; /* Remove default margin for h3 */
}


.contacts-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  background-color: #befeff;
  /* width: 50em;
  height: 40em; */
  width: 50vw;
  height: 80vh;
  margin: 100px auto;
  /* padding: 20px; */
  border: white 2px solid;
  overflow-y: auto;
}

.contacts-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff290;
  color: black;
  padding: 30px;
  height: 6em;
}

.education-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  background-color: #ffb9df;
  width: 50vw;
  height: 80vh;
  margin: 100px auto;
  /* padding: 20px; */
  border: white 2px solid;
  overflow-y: auto;
}

.education-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9e67c8;
  color: white;
  padding: 30px;
  position: fixed;
  width: 49.75vw;
  height: 6em;
}

.projects-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  background-color: #ffd4a0;
  width: 50vw;
  height: 80vh;
  margin: 100px auto;
  /* padding: 20px; */
  border: white 2px solid;
  overflow-y: auto;
}

.projects-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6ebc40;
  color: white;
  padding: 30px;
  position: fixed;
  width: 49.75vw;
  height: 6em;
}

.resume-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  background-color: #fff5ac;
  width: 50vw;
  height: 80vh;
  margin: 100px auto;
  /* padding: 20px; */
  border: white 2px solid;
  overflow-y: auto;
}

.resume-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c63232;
  color: white;
  padding: 30px;
  height: 6em;
}


.popup-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  background-color: #ff93ed;
  width: 50em;
  height: 40em;
  margin: 100px auto;
  /* padding: 20px; */
  border: white 2px solid;
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b1309b;
  color: white;
  padding: 30px;
}

.popup h2 {
  margin-top: 0;
}

.popup button {
  margin-top: 10px;
}

#game-canvas {
    image-rendering: pixelated;
}

body {
  margin: 0;
  overflow: hidden; /* Prevent scrolling in case the canvas size exceeds window size */
}

#game-canvas {
  display: block;
}
