.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  background-color: #ffa4a1;
  width: 40em;
  height: 30em;
  margin: 100px auto;
  /* padding: 20px; */
  border: white 2px solid;
}

.about-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #50adff;
  color: white;
  padding: 20px;
}

.contacts-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  background-color: #befeff;
  width: 40em;
  height: 30em;
  margin: 100px auto;
  /* padding: 20px; */
  border: white 2px solid;
}

.contacts-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff290;
  color: black;
  padding: 20px;
}

.education-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  background-color: #ffb9df;
  width: 40em;
  height: 30em;
  margin: 100px auto;
  /* padding: 20px; */
  border: white 2px solid;
}

.education-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9e67c8;
  color: white;
  padding: 20px;
}

.projects-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  background-color: #ffd4a0;
  width: 40em;
  height: 30em;
  margin: 100px auto;
  /* padding: 20px; */
  border: white 2px solid;
}

.projects-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6ebc40;
  color: white;
  padding: 20px;
}

.resume-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  background-color: #fff5ac;
  width: 40em;
  height: 30em;
  margin: 100px auto;
  /* padding: 20px; */
  border: white 2px solid;
}

.resume-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c63232;
  color: white;
  padding: 20px;
}


.popup-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  background-color: #ff93ed;
  width: 40em;
  height: 30em;
  margin: 100px auto;
  /* padding: 20px; */
  border: white 2px solid;
}

.popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b1309b;
  color: white;
  padding: 20px;
}

.popup h2 {
  margin-top: 0;
}

.popup button {
  margin-top: 10px;
}

#game-canvas {
    image-rendering: pixelated;
}

body {
  margin: 0;
  overflow: hidden; /* Prevent scrolling in case the canvas size exceeds window size */
}

#game-canvas {
  display: block;
}
